*{
    margin: 0 auto;
    background-color: black;
    color: white;
}

input{
    background-color: white;
    color: black;
}

.high-timer{
    display: flex;
    /* display:inline-flex; */
    justify-content: space-between;
    padding-top: 40px;
}

.start-game{
    margin: 14px;
}


.quiz-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.quiz-section h1{
    margin-bottom: 15px;
    font-size: 39px;

}

#hidden{
    display: none;
}
.choices .codecode{
    display: block;
    width: 50%;
    padding: 20px;
    margin-top: 10px;
    background-color: blue;
    font-size: 20px;
}

