*{
    margin: 0 auto;
}

.high-timer{
    display: flex;
    /* display:inline-flex; */
    justify-content: space-between;
    padding-top: 40px;
}


.quiz-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.quiz-section h1{
    margin-bottom: 15px;
    font-size: 35px;
}